In [2]:
# A program to analysis input files
#import modules
import sys
import os

In [8]:
# Global path variables
base_dir = os.path.dirname(os.path.dirname(os.path.abspath(sys.argv[1])))
ip_dir = os.path.join(base_dir, 'data')
print(ip_dir)
print(os.path.exists(ip_dir)) # cheking wether ip dir exists or not!

D:\dkn_btp\youtube-trend-analysis\data
True

In [22]:
# find the the total no of files and typesyes of files
file_list = os.listdir(ip_dir)
print('Total No of Files :' ,len(file_list))

Total No of Files : 223

In [10]:
file_list.sort()
file_list[:10]

['18.01.11_GB_videos.csv',
 '18.01.11_IN_videos.csv',
 '18.01.11_US_videos.csv',
 '18.01.12_GB_videos.csv',
 '18.01.12_IN_videos.csv',
 '18.01.12_US_videos.csv',
 '18.02.11_GB_videos.csv',
 '18.02.11_IN_videos.csv',
 '18.02.11_US_videos.csv',
 '18.02.12_GB_videos.csv']

In [23]:
# Printing column name of files
fname_total = os.path.join(ip_dir, file_list[0])
print(fname)
import pandas as pd
df = pd.read_csv(fname_total)
print(' column names:' , df.columns)

18.01.11_GB_videos.csv
 column names: Index(['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'categoryId', 'trending_date', 'tags', 'view_count', 'likes',
       'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled',
       'ratings_disabled', 'description'],
      dtype='object')

In [20]:
# Printing uniq category of file[0]
print('Uniq Category:', df['categoryId'].unique())

[24 10 28  1 27 17 23 22 26 19 20 43 25]

In [24]:
# count of each category in file[0]
df.groupby('categoryId').count()

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
categoryId,,,,,,,,,,,,,,,
1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
17,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
19,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
20,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
22,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
23,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
24,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
25,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
26,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
27,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
28,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
43,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [26]:
# Accesing a row 
df['title'][0]

'Worst Halloween Candy Taste Test (Day 3)'